html {
background-color:black;
}

body {
background-color: #13315C;;
margin: 1%;
display: grid;
grid-template-columns: 75% 25%;
grid-template-rows:15% 75%% 10%;
grid-template-areas:
"header header"
"main aside"
"footer footer"
}

header {
    grid-area:header;
    color: #F4FFF8;
    border-style: dotted;
    border-radius: 3px;
    border-color:white;
    border-width: 2px;
    text-align: center;
}
main{
    grid-area:main;
}
canvas {
background-color: black;
border-radius:1px;
border-style: solid;
border-color: white;
border-width:2px;
display:block;
margin-left: 5%;
margin-right: 5%;
margin-top: 1%;
width: 80%;
height: 80%;
}

footer {
    grid-area:footer;
    color: white;
}
aside {
    text-align: center;
    grid-area:aside;
    color:white;
    border-style:solid;
    border-width:2px;
    border-color:white;
    margin-left: 2px;
}

aside h1 {
    font-size:20px;
    text-decoration: underline;
}

aside > p {
    font-size: 15px;
}